 * {
   box-sizing: border-box;
 }

 body {
   text-align: center;
   margin: 0;
   padding: 0;
 }

 .wrapper {
   display: flex;
   flex-direction: column;
   gap: 5%;
   align-items: center;
   width: 100vw;
   min-height: 100vh;
   margin: 0;
   padding: 1px;
   background-color: #011F3F;

 }

 @media (max-width:1439px) {
   .wrapper {
     justify-content: center;
   }
 }

 .corner {
   position: absolute;
   top: 0;
   right: 0;
 }

 .icon-info {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
 }

 .info-i {
   fill: black;
   transition: all 300ms ease;
 }

 .icon-info:hover .info-i {
   fill: red;
 }

 .info-border {
   fill: white;
   stroke: black;
   stroke-width: 3;
   transition: all 300ms ease;
 }

 .icon-info:hover .info-border {
   stroke: red;
 }

 .start {
   display: none;
 }

 @media (min-width: 1024px) {
   .visible-icon::after {
     content: 'Game info';
     display: block;
     position: absolute;
     z-index: 2;
     top: 10px;
     right: 100px;
     background-color: #e6e5e5;
     border-radius: 5px;
     color: #585858;
     padding: 5px;
   }
 }

 .wrapper-start #level-title::after {
   content: "Press Any Key to Start";
   font-family: 'Press Start 2P', cursive;
   text-wrap: balance;
   font-size: 48px;
   margin: 0 auto;
   line-height: 2;
   color: #FEF2BF;
 }

 #level-title {
   font-family: 'Press Start 2P', cursive;
   text-wrap: balance;
   font-size: 48px;
   margin: 0 auto;
   line-height: 2;
   color: #FEF2BF;
   padding: 0 30px;
 }
@media (min-width: 1440px){
  #level-title{
    margin: 5% auto 3%;
  }
}
 @media (max-width:1023px) {

   .wrapper-start #level-title::after {
     content: 'Simon game';

     font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1400 - 300)));
   }

   .wrapper-start .start {
     display: inline-block;
     font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1400 - 300)));
     background-color: green;
     border: 1vw solid black;
     border-radius: 20px;
     margin: 30px;
     width: 400px;
     font-family: 'Press Start 2P', cursive;
     padding: 2vw;
     vertical-align: middle;
   }
 }

 @media (max-device-width:870px) {
   .wrapper-start #level-title::after {
     margin: 0 auto;
   }

   .wrapper-start .start {
     width: clamp(200px, 60vw, 400px);
     padding: 4vmin 0;
   }
 }



 @media(max-width:1400px) {
   #level-title {
     font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1400 - 300)));
   }
 }

 .container {
   display: block;
   width: 50%;
   margin: 20px auto;

 }

 .btn {
   margin: 25px;
   display: inline-block;
   height: 200px;
   width: 200px;
   border: 10px solid black;
   border-radius: 20%;
 }

 @media (max-width:1440px) {
   .btn {
     height: 30vmin;
     width: 30vmin;
     max-width: 200px;
     max-height: 200px;
     margin: 20px;
   }
 }

 @media (max-width:1024px) {
   .container {
     width: 80%;
   }

   .btn {

     border-width: 1vw;

   }
 }

 @media (max-width:600px) {
   .container {
     width: 90%;
   }

   .btn {
     margin: 5px
   }
 }

 .game-over {
   background-color: red;
   opacity: 0.8;
 }

 .red {
   background-color: red;
 }

 .green {
   background-color: green;
 }

 .blue {
   background-color: blue;
 }

 .yellow {
   background-color: yellow;
 }

 .pressed {
   box-shadow: 0 0 20px white;
   background-color: grey;
 }

 table {
   margin: 5% auto;
   width: 80vw;
   font-family: 'Press Start 2P', cursive;
   border-radius: 20px;
   border-collapse: collapse;
   background-color: #d1d11d;
   border-style: hidden;
   box-shadow: 0 0 0 7px black;
 }

 @media (max-width: 570px) {
   table {
     box-shadow: 0 0 0 4px black;
   }
 }

 caption {
   font-size: 48px;
   margin: 5%;
   color: #FEF2BF;
 }

 th,
 td {
   font-size: 24px;
   padding: 20px 50px;
   width: 50%;
   border: 3px solid black;
   border-spacing: 0;
   overflow-wrap: break-word;
   inline-size: 50px;
 }

 @media (max-width: 1400px) {
   caption {
     font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1400 - 300)));
   }

   th,
   td {
     font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1400 - 300)));
     line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1400 - 300)));
   }
 }

 @media (max-width: 540px) {

   th,
   td {
     padding: 20px 5vw;
   }
 }

 @media (max-width: 350px) {

   th,
   td {
     padding: 20px 2vw;
   }
 }

 .new-game,
 .close {
   background-color: green;
   border: 7px solid black;
   border-radius: 20px;
   margin: 25px;
   display: inline-block;
   width: clamp(200px, 60vw, 400px);
   font-family: 'Press Start 2P', cursive;
   font-size: 24px;
   display: inline-block;
   padding: 30px;
   vertical-align: middle;
 }

 @media(max-width:1400px) {

   .new-game,
   .close {
     font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1400 - 300)));
     padding: 30px;
   }
 }

 @media(max-width: 800px) {

   .new-game,
   .close {
     padding: 4vw;
     border: 1vw solid black;
   }
 }

 @media(max-width:500px) {

   .new-game,
   .close {
     min-width: 230px;
     max-width: 400px;
     width: 80vw;
   }
 }

 .info {
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   max-width: 100vw;
   min-height: 100vh;
   background-color: #011F3F;
   z-index: 2;
 }

 .info-wrapper {
   border: 7px solid black;
   background-color: #d1d11d;
   font-family: 'Press Start 2P', cursive;
   border-radius: 20px;
   width: 80%;
   margin: 0 auto;
   padding: 5%;
   font-size: 1.3em;
   line-height: 2;
   text-wrap: balance;
 }

 @media (max-device-width:1440px) {
   .info-wrapper {
     font-size: calc(14px + (21 - 14) * ((100vw - 300px) / (1400 - 300)));
   }
 }

 @media(max-width:800px) {
   .info-wrapper {
     border-width: 1vw;

   }
 }

 .info h2 {
   font-family: 'Press Start 2P', cursive;
   font-size: 3rem;
   margin: 5%;
   color: #FEF2BF;
 }

 @media (max-width:1440px) {
   .info h2 {
     font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1400 - 300)));
   }
 }

 .color {
   color: #5b7794;
 }

 .close {
   margin: 5% auto;
   display: block;
 }

 button:hover{
  box-shadow: 0 0 20px white;
  background-color: grey;
 }